.CardItem {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.Header {
    text-align: center;
}

.ItemHeader {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.ItemImg {
    max-width: 100%;
}

.Info {
    font-size: 1em;
    margin: 10px 0;
}

.ItemFooter {
    text-align: center;
}

.Option {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.Option:hover {
    background-color: #0056b3;
}